h2.intro {font-style: italic; background-color: chartreuse;}
p.intro {color: blue; font-size: medium; font-family: cursive; background-color: crimson;}
img.intro {image-orientation: flip; text-align: center; background-color: chartreuse;}